/*header*/
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 97.9px;
	margin-top: 20.5px;
}
.satauri {
	margin-left: 31px;
	font-size: 24px;
}
.logo {
	margin-right: 98px;
}
.logo1 {
	margin-left: 155.6px;
}
.xazi::after {
	display: inline-block;
	content: " ";
	width: 2px;
	height: 26.67px;
	background-color: #363E97;
	margin-left: 30px;
}
/*pirveli section*/
.section {
	margin-top: 20px;
	width: 1865px;
	height: 520px;
	background-color: #E6E6E6;
}
.box1 {
	position: relative;
	width: 1170px;
	margin: 0 auto;
	padding-top: 30px;
}
.text {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 20px;
	left: 30px;
	width: 1140px;
	font-size: 30px;
	color: white;
}
.htlogo{
	padding-right: 30px;
	padding-top: 80px;
}
/*meore section*/
.section2{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 1865px;
	height: 499.33px;
	background-color: #363E97;
}
.yuti{
	display: flex;
	justify-content: space-between;
	width: 1170px;
	height: 320px;
	margin: 0 auto;
	margin-top: 89.8px;
}
.yuti1{
	width: 570px;
	height: 320px;
	background-color: white;
}
.texti{
	text-align: center;
	margin-top: 157px;
}
.satauri2{
	position: absolute;
	left: 350px;
	top: 30px;
	color: white;
	font-size: 24px;
}
.satauri2::after {
	display: inline-block;
	content: " ";
	width: 2px;
	height: 20px;
	background-color: white;
	margin-left: 10px;
}
.satauri3{
	position: absolute;
	left: 470px;
	top: 30px;
	color: white;
	font-size: 18px;
}
/*mesame section*/
.section3{
	position: relative;
	width: 1865px;
	height: 450px;
	background-color: #BDCCD4;
	padding-top: 90.2px;
}
.suratebi{
	display: flex;
	justify-content: space-between;
	width: 1172px;
	height: 210px;
	margin: 0 auto;
}
.divebi{
	display: flex;
	justify-content: space-between;
	width: 1170px;
	height: 60px;
	margin-left: 348px;
}
.divi1{
	width: 270px;
	height: 60px;
	background-color: #E6E6E6;
	font-size: 20px;
}
.text1{
	text-align: center;
	margin-top: 13.7px;
}
.satauri4{
	position: absolute;
	left: 350px;
	top: 30px;
	color: blue;
	font-size: 24px;
}
.satauri4::after {
	display: inline-block;
	content: " ";
	width: 2px;
	height: 20px;
	background-color: blue;
	margin-left: 10px;
}
.para4{
	position: absolute;
	left: 470px;
	top: 30px;
	color: blue;
	font-size: 18px;

}
/*meotxe section*/
.section4{
	position: relative;
	width: 1865px;
	height: 345.46px;
	background-color:#E6E6E6;
}
.zero{
	padding-top: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 1172px;
	height: 225px;
}
.pirveli{
	position: relative;
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
}
.meore{
	position: relative;
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
}
.sataurebi{
	font-size: 22px;
	display: block;
	margin-left: 20.8px;
	margin-top: 11.1px;
}
.txtsrt{
	display: flex;
	justify-content: space-between;
	width: 534px;
	height: 150px;
	padding-left: 30px;	
}
.para1{
	width: 355px;
	margin-top: 35px;
	font-size: 20px;
}
.rm{
	position: absolute;
	bottom: 2px;
	right: 2px;
	color: blue;
}
.awe{
	font-size: 30px;
	color: blue;
}
.feature{
	color: black;
	font-size: 22px;
	margin-left: 350px;
	padding-top: 28px;
}
.feature::after{
	display: inline-block;
	content: " ";
	width: 2px;
	height: 20px;
	background-color: black;
	margin-left: 10px;
}
.para5{
	position: absolute;
	font-size: 20px;
	color: black;
	margin-left: 500px;
	top: 30px;
}
.footer{
	display: flex;
	justify-content: space-between;
}
/*news*/
.news {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 33.3px;
	width: 1865px;
	background-color: #BDCCD4;
	height: 90px;
}
.news1 {
	display: flex;
	justify-content: space-between;
	margin-top: 28.5px;
	margin-left: 100px;
	width: 100px;
	height: 29px;
	font-size: 22px;
	color: blue;
}
.news2{
	margin-top: 28.5px;
	margin-right: 92.5px;
	width: 80px;
	height: 30px;
	font-size: 22px;
	text-decoration: underline;
	color: white;
}
.row{
	padding-left: 2px;
	width: 30px;
}
.lab{
	position: absolute;
	top: 30px;
	left: 200px;
	color: white;
	font-size: 22px;
}
/*date*/
.charcho{
	margin-top: 30px;
	margin-left: 97px;
}
.p18{
	position: absolute;
	color: blue;
	top: 220px;
	left: 120px;
	font-size: 22px;
}
.march{
	margin-left: 97px;
	color: blue;
	font-size: 22px;
}
.news3{
	margin-top: 18.2px;
	margin-left: 99px;
	height: 746px;
	width: 1166.29px;
}
.typo{
	float: left;
}
.lorema{
	float: left;
	width: 756px;
	margin-left:40px;
	font-size: 20px;
}
.lorema1{
	margin-top: 22px;
	float: left;
	width: 756px;
	margin-left:40px;
	font-size: 20px;
	padding-bottom: 22px;
}
.chveulebrivi{
	font-size: 20px;
	padding-bottom: 22px;
}
.gb{
	margin-left: 99px;
	margin-top: 25.2px;
	color: white;
	text-decoration: underline;
	font-size: 22px;
	padding-right: 1500px;
}
.logos{
	height: 20px;
	margin-top: 22px;
}
/*about*/
body{
	position: relative;
}
.about{
	margin-top: 33.3px;
	width: 1865px;
	background-color: #EE4036;
	height: 90px;
}
.h-about{
	font-size: 22px;
	color: white;
	margin-left: 105.8px;
	padding-top: 30px;
}
.isari{
	margin-left: 100px;
	float: left;
	width: 300px;
	height: 300px;
	border-style:solid;
    border-width:2px;  
    border-color:red;
    margin-top: 110px;
}
.computer{
	margin-left: 86px;
	margin-top: 60px;
	float: left;
	width: 400px;
	height: 400px;
	border-style:solid;
    border-width:2px;  
    border-color:red;
}
.raketa{
	margin-left: 85px;
	margin-top: 110px;
	float: left;
	width: 300px;
	height: 300px;
	border-style:solid;
    border-width:2px;  
    border-color:red;
}
.center{
	padding-left: 47.9px;
	padding-top: 38.4px;
}
.center1{
	padding-top: 104.8px;
	padding-left: 70px;
}
.abbout{
	position: absolute;
	display: inline-block;
	padding-top: 420px;
	left: 100px;
	font-size: 20px;
	color: #58595B;
}
.abbout1{
	position: absolute;
	display: inline-block;
	padding-top: 470px;
	left: 483px;
	font-size: 20px;
	color: #58595B;
}
.abbout2{
	position: absolute;
	display: inline-block;
	padding-top: 420px;
	left: 969px;
	font-size: 20px;
	color: #58595B;
}
.xazi1{
	position: absolute;
	width: 1865px;
	height: 2px;
	background-color: red;
	top: 750px;
}
.xalxi{
	position: relative;
	padding-right: 230px;
	padding-left: 90px;
	display: flex;
	justify-content: space-between;
	width: 1366px;
	height: 391px;
	margin-top: 569px;
}
.surname{
	position: absolute;
	width: 1137px;
	height: 44px;
	color: black;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	top: 170px;
	left: 130px;
}
.team{
	position: absolute;
	top: 30px;
	left: 100px;
	font-size: 22px;
	color: red;
}
